  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">Assemble and Materialize</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">GitHub Project</a></li>
        <li><a href="#">Assemble</a></li>
        <li><a href="#">Materialize</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="https://github.com/thursby/assemble-materialize">GitHub Project</a></li>
        <li><a href="http://assemble.io">Assemble</a></li>
        <li><a href="http://materializecss.com">Materialize</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container" data-property="{
      videoURL:'http://youtu.be/BsekcY04xvQ',
      containment: 'self',
      showControls: false,
      startAt: 0,
      mute: true,
      autoPlay: true,
      loop: true,
      opacity: 1,
      showYTLogo:false}">
    }">
    <div class="section no-pad-bot">
      <div class="container">
      	{{{ md "src/content/page/index-content/header.md" }}}
      </div>
    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            {{{ md "src/content/page/index-content/section1.md" }}}
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            {{{ md "src/content/page/index-content/section2.md" }}}
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            {{{ md "src/content/page/index-content/section3.md" }}}
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Why drive your site with yesterday's tech? Assemble and Netlify are the absolute best technologies for high performance sites.</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="img/background2.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
            {{{ md "src/content/page/index-content/section4.md" }}}
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Production grade using proven technology.</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="img/background3.jpg" alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l8 s12">
          {{{ md "src/content/page/index-content/footer.md" }}}
        </div>
        <div class="col l4 s12">
          <h5 class="white-text">Visit the 1SRQ family</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="http://www.sherriefindsfashion.com">Sherrie Finds Fashion</a></li>
              <li><a class="grey-text text-lighten-3" href="http://www.nailsbynani.com">Nails by Nani</a></li>
              <li><a class="grey-text text-lighten-3" href="http://www.nani.photography">Nani Photography</a></li>
            </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Template Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a> and brought together with <a class="brown-text text-lighten-3" href="http://assemble.io">Assemble</a>
      </div>
    </div>
  </footer>
